h1{
    font-size: 0.9em;
    letter-spacing: 1.3px;
    font-family: 'Comfortaa';

}
@media (min-width: 320px)
{
    h1{
        font-size: 0.9em;
        letter-spacing: 1.3px;
        font-family: 'Comfortaa';

    }

}
@media (min-width: 375px)
{
    h1{
        font-size: 1em;
        letter-spacing: 1.3px;
        font-family: 'Comfortaa';

    }
}
@media (min-width: 1024px)
{
    h1{
        font-size: 1.7em;
        letter-spacing: 2.3px;
        font-family: 'Comfortaa';

    }
}