section{
    max-width: 90vw;
    margin-left:auto ;
    margin-right:auto ;
}
@media screen and (min-width: 23.43rem){
    section{
        max-width: 90vw;
        margin-left:auto ;
        margin-right:auto ;
    }
}
@media screen and (min-width: 48rem){
    section{
        max-width: 80vw;
        margin-left:auto ;
        margin-right:auto ;
    }
}
@media screen and (min-width: 64rem){
    section{
        max-width: 75vw;
        margin-left:auto ;
        margin-right:auto ;
    }
}
@media screen and (min-width: 85.5rem){
    section{
        max-width: 75vw;
        margin-left:auto ;
        margin-right:auto ;
    }
}