section{
    max-width: 90vw;
    margin-left:auto ;
    margin-right:auto ;
}
.section-details-container{
    max-width: 100%;
    padding: .5rem 1.5rem .5rem 1.5rem;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 0px 8px 20px -7px rgb(61 93 134);
}
@media screen and (min-width: 23.43rem){
    section{
        max-width: 90vw;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-details-container{
        max-width: 100%;
    }
    .section-name{
        max-width: calc(100% + 3rem);
    }
}
@media screen and (min-width: 48rem){
    section{
        max-width: 80vw;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-details-container{
        max-width: 80%;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-name{
        max-width: calc(80% + 3rem);
        margin-left:auto ;
        margin-right:auto ;
    }
}
@media screen and (min-width: 64rem){
    section{
        max-width: 75vw;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-details-container{
        max-width: 80%;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-name{
        max-width: calc(80% + 3rem);
        margin-left:auto ;
        margin-right:auto ;
    }
}
@media screen and (min-width: 85.5rem){
    section{
        max-width: 75vw;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-details-container{
        max-width: 70%;
        margin-left:auto ;
        margin-right:auto ;
    }
    .section-name{
        max-width: calc(70% + 3rem);
        margin-left:auto ;
        margin-right:auto ;
    }
}
.section-name{
    display: flex;
    align-items: center;
    &.right{
        justify-content: flex-end;
    }
}
.section-name-text-left{
    margin-right: 0.5rem;
    font-weight: bold;
}
.section-name-text-right{
    margin-left: 0.5rem;
    font-weight: bold;
}
.section-details-heading{
    text-align: center;
    color: #cee8f5;
    opacity: 0.8;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: fit-content;
}